#header {
    border-bottom: 5px solid #b9212c;
}

#skip-to-content a {
    border: thin solid lightgray;
    padding: 0.3rem 1rem;
    background: white;
    color: black;
    font-size: 1.1rem;
    position: relative;
    left: -10000px;
}

#skip-to-content a:active, #skip-to-content a:focus{
   position: static;
}
